body {
  background-color: #ccc;
  color: #222;
  font: 1.0em helvetica;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;

  /* margin: 1em 0; */
}

p {
  margin: 1em 0;
}

.steptext
{
	display:inline;
	font-size:14px;
}
.content{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-heading{
  
  display: flex;
  justify-content: center;
  background-color: black;
  /* border: 2px solid;
  border-radius: 0%;
  margin: 10px 0px 10px 0px; */
  color: white;
  font-family: verdana;
  font-size: 16px;
  text-transform: uppercase;
}
.main-canvas{
display: flex;
flex-direction: column;
border: 1px solid black;
height: inherit;
}
#simscreen
{
	position: relative;
	left:0%;
	top:55%;
	height: 600px; 
	width:800px;
	border:solid 1px;
}
.simsubscreen
{
  margin: 10px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  height: 600px;
}
#copyright{
display: flex;
  font-size: 12px;
  justify-content: center;
  text-align: center;

}
.incanvas
{
	margin:5px 0 0 5px;
	padding:0;
}
.grid-page1{
  /* display: grid;
  grid-template-rows: 1fr 1fr auto; */
  flex-grow: 1;
}
#nav{

    align-self: flex-end;
    margin-right: 10px;
}
select{
	width:150px;
	/* font-weight: bold; */
	position:absolute;
	left:310px;
	top: 96px;
	scroll-padding-left: 2%;
	/* padding-bottom: 2%; */
	scroll-padding-top: 2%;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.button{
	
	position: absolute;
	left:245px;
	top: 190px;
	border: #000 1px solid;
	cursor: pointer;
}
.button:disabled{
	color: inherit;
	opacity: 1;
	border: #000 1px solid;
	cursor: not-allowed;

}
label{
	position: absolute;
	left:170px;
	top: 103px;
	font-size:15px
}
.plybtn{
	position: relative;
	/* position: absolute;
	left:300px;
	top: 150px; */
	width:70px;
	height:65px;
	border-radius:100%;
	border-color: #000;
	color: #000;
	padding-top:30px;
	background-color: rgb(219, 221, 221);
	cursor: pointer;
	font-weight: 600;

}
.plybtn::before{
	position: absolute;
	content: '';
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	border-left: #000 15px solid;
	top:45%;
	left:50%;
	transform: translate(-40%,-50%);


}
.plybtn:disabled{
	/* position: absolute;
	left:300px;
	top: 150px; */
	width:70px;
	height:65px;
	border-radius:100%;
	border-color: #000;
	color: #000;
	padding-top:30px;
	font-weight: 600;
	cursor: not-allowed;
}
p.ad{
display: flex;
justify-content: center;
}
p.morse{
	position: absolute;
	left:388px;
	top: 69px;
	/* font-weight: 600; */
	/* font-size: 20px; */
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	
	
	
}
.selectmorse{
	display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}
/* p.selectmorse{
	position: absolute;
	left:243px;
	top: 70px;
} */
p.dm{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 20%;
    font-weight: 600;
	font-size: larger;
	height: 64px;
	width: 46.6875px;
}

.morsePlay
{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.morsedisplay1{

   
	font-weight: 700;
	font-size: 58px;
	font-family: monospace;
}
.button{
	display: block; 
	margin-left: 55px;
	margin-top: 170px;
}
.repeat1{
	position: absolute;
	top:410px;
	left:300px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color:rgb(224, 223, 223);
	color:rgb(32, 32, 32);
	margin-left: -5px;
	padding: 8px 8px;
	font-size:10px;
	
	
}
.warning{
visibility: hidden;
display: flex;
justify-content: center;
}
.pd{
	/* margin: 40px; */
	padding-right: 35px;
}
.pd1{
	/* margin: 40px; */
	padding-right: 35px;
}

.opDoubledash{
	font-weight: 600;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.repeatname{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: small;
}
.numberInput
{
	cursor: pointer;
	width: 8%;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
}
.numberInput:disabled{

cursor: not-allowed;
}
#slider{
	width: 39%;
	position: absolute;
	left: 185px;
	top:15rem
}
.selectNumber{
	position: absolute;
	top: 150px;
	left: 235px;
}
#morseImage{
	width: 80%;
    height: 100%;
}
.hintColumn{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}
#hintButton{

	padding: 10px 10px;
	cursor: pointer;
	border-radius: 8px;
	font-weight: 600;
	font-family:  sans-serif;
}
	/* position:absolute;
	left:50px;
	top:50px;
	height:530px;
	width:745px; */

/* ONLY do this, when the viewport has a width of at least 500px */

